{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            {% endfor %}
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            {% if previous_book %}
            <a href="{% url 'books_on_required_day' previous_book.pub_date|slugify %}">
                <{{ previous_book.pub_date|slugify }}
            </a>
            <span> &emsp;</span>
            {% endif %}
            {% if next_book %}
            <a href="{% url 'books_on_required_day' next_book.pub_date|slugify %}">
                {{ next_book.pub_date|slugify }}>
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}